.main-container{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}
.address  p{
    margin: 0px;
    padding: 0px;
}
.existing  p{
    margin: 0px;
    padding: 0px;
}

.edit mat-icon{
    margin-bottom: 30px;
    margin-top: 0px;
}

.account mat-card{
    width: 100%;
}
.address mat-card{
    width: 130%;
}
.change mat-card{
    width: 100%;
}
.first{
    margin-top: 100px;
}