*{
    margin: 10px 30px 30px 30px;
}
body, pre{
    font-family: "Sofia", sans-serif;
    color: #023e8a;
    margin: 5%;
}
h1{
    color: #0077b6;
    font-size: 40px;
    font-family: 'Cuprum', sans-serif;
}
h2{
    font-family: 'Cuprum', sans-serif;
}



p {
    text-align: center;
    width: fit-content;
    text-align: justify;
    text-justify: inter-character;
    
}
.img-box1, .img-box2, .img-box3{
    display: flex;
    float: left;
    padding: 0;
    margin: 0;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.img-box1 img{
    height: 300px;
}
.img-box2 img{
    height: 180px;
}
.img-box3 img{
    height: 150px;
}
blockquote, i{
    padding: 0;
    margin: 0;
    font-weight: bold;
}
footer{
    text-align: center;
    width: 80%;
}
@media (max-width: 767px){
    .img-box1, .img-box2, .img-box3{
        flex-direction: column;
    }
    .img-box1 img{
        height: 300px;
    }
    .img-box2 img{
        height: 300px;
    }
    .img-box3 img{
        height: 300px;
    }
    
}