@import "https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css";

/* Default Css */
.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
.main-nav-cont{
  margin-top: 60px;
}
/* Header CSS */
.header-row {
  margin-top: 5px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  background: radial-gradient(#fff, #3f8cb5);
}
.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}
.col-2 img {
  margin-top: 20px;
  max-width: 100%;
}
.col-2 h1 {
  padding: 20px;
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}
.col-2 p {
  padding: 20px;
}
.col-2 .btn {
  margin: 20px;

}
.btn {
  display: inline-block;
  background: #1389fd;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: 0.5s;
}
.btn:hover {
  background: #000;
  color: #1389fd;
}

/* Category Image CSS */
.card-image {
  background-size: cover;
  background-repeat: no-repeat;

}

/* See More Button CSS */
.exploreBtn {
  position: absolute;
  bottom: 0px;

}
.card-btn {
  display: inline-block;
  margin: 30px 0;
  transition: 0.1s;
  cursor: pointer;
  border: none;
}
.card-btn:hover {
  background: rgb(199, 195, 195);
  color: #fff;
}
a {
  text-decoration: none;
  color: #555;
}


/* Category Title background */
.category-title{
  background: #fff;
  color: #000;
  padding: 5px;
}
hr {
  
  height: 5px;
  background-color: #0b79ac;
  border-radius: 5px;
}

.exploreBtn {
  position: absolute;
  bottom: 0px;
}

/* Banner */
.carousel .carousel-item {
  height: 500px;
}

.carousel-item img {
    position: absolute;
    object-fit:cover;
    top: 0;
    left: 0;
    min-height: 500px;
}