@import "https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css";

.container {
    margin-top: 100px;
    margin-bottom: 50px;
}
.newarrival{
    background: green;
    width: 50px;
    color: white;
    font-size: 12px;
    font-weight:bold;
}
.col-md-7 h2{
    color: #555;
}
.price{
    color: #FE980F;
    font-size: 26px;
    font-weight: bold;
    padding-top: 20px;
}
