<!-- Footer -->
<footer>
    <div class="footer-content">
      <h3>EShoppingZone</h3>
      <p>
        EShoppingZone is a one stop shop for all your fashion and lifestyle needs.
        Being India's largest e-commerce store for fashion and lifestyle products,
        EShoppingZone aims at providing a hassle free and enjoyable shopping
        experience to shoppers across the country.
      </p>
      <ul class="socials">
        <li>
          <a href="https://www.facebook.com/"><i class="fa fa-facebook fa-5x"></i></a>
        </li>
        <li>
          <a href="https://twitter.com/?lang=en"><i class="fa fa-twitter fa-5x"></i></a>
        </li>
        <li>
          <a href="https://www.youtube.com/"><i class="fa fa-youtube fa-5x"></i></a>
        </li>
        <li>
          <a href="https://in.linkedin.com/"><i class="fa fa-linkedin-square fa-5x"></i></a>
        </li>
      </ul>
    </div>
    <hr>
    <div class="footer-bottom">
      <p>copyright &copy;2020 EShoppingZone</p>
    </div>
  </footer>