/* Footer */
footer {
  background: #fafafa;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #000;
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3rem;
}
.footer-content p {
  max-width: 500px;
  margin: 10px 50px;
  line-height: 28px;
  font-size: 14px;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
.socials li {
  margin: 10px;
}
.socials a {
  text-decoration: none;
  color: #000;
}
.socials a i {
  font-size: 1.1rem;
  transition: color 0.4s ease;
}
.socials a:hover i {
  color: #fff;
}

.footer-bottom {
  background: #f3f3f3;
  padding-top: 20px;
  padding-bottom: 2px;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
hr{
  margin: 0px;
  padding: 0px;
}
.about-icons {
  font-size: 30px;
}
