@import "https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css";
.heading{
  font-weight: 500;
}
.n-custom{
  background-color: #f5f5f5;
}
.n-custom .navbar-brand, .navbar-custom .navbar-text {
  color: #000;
}
mat-icon :hover{
  cursor: pointer;
}
.n-custom li{
  color: #000;
}
.n-custom a{
  color: #000;
}
.n-custom a:hover{
  cursor: pointer;
}
hr{
  padding: 0px;
  margin: 0px 0px 0px 0px;
}

.cart-text{
  padding-bottom: 0px;
  margin-bottom: 3px;
}
@media all and (min-width: 992px) {
	.navbar .nav-item .dropdown-menu{ display: none; }

	.navbar .nav-item:hover .dropdown-menu{ display: block; }
	.navbar .nav-item .dropdown-menu{ margin-top:0; }
}