.main-container {
    margin-top: 80px; 
    margin-left: 40px;
}

.address{
    display: flex;
    justify-content: space-around;
    margin-right: 100px;
}
.existing p{
    padding: none;
    margin: 0;
}
hr {
    height: 5px;
    color: #03A9F4;
}
mat-form-field {
    display: block;
}
.next button{
    margin-top: 40px;
    margin-left:45%;
    margin-right:45%;
}
.next {
    display: flex;
    justify-content: space-around;
    margin-left: 48%;
    margin-right: 48%;
}