<app-navbar></app-navbar>
<div class="main-container">
    <h2>Provide Your Shipping Details</h2>
    <div class="address">
        <div class="existing">
            <h2 >Select From Saved Addresses</h2>
            <div class="data" *ngFor="let address of addresses" >
                <input type="radio" [(ngModel)]="shippingAddress"  value="{{address.id}}" (change)="onSelectAddress(address)" id="address.id">Select
                <p>{{address?.fullName}}</p>
                <p>{{address?.building}}</p>
                <p>{{address?.city}}</p>
                <p>{{address?.state}}</p>
                <p>{{address?.pin}}</p>
                <p>{{address?.phone}}</p>
            <hr>
            </div>
            
        </div>

        <div class="new">
            <h3>Add New Address</h3>
            <form  #addAddress="ngForm" (ngSubmit)="onAddAddress(addAddress)" >
                <input type="hidden" ngModel="{{username}}"  name="username" class="form-control" id="username" placeholder="Username" required>
                <input type="text" ngModel name="fullName" class="form-control" id="fullName" placeholder="Full Name" required>
                <input type="text" ngModel name="building" class="form-control" id="building" placeholder="Building, Street, House No" required>
                <input type="text" ngModel name="city" class="form-control" id="city" placeholder="City" required>
                <input type="text" ngModel name="state" class="form-control" id="state" placeholder="State" required>
                <input type="text " ngModel name="pin" class="form-control" id="pin" placeholder="PIN" required>
                <input type="tel " ngModel name="phone" class="form-control" id="phone" placeholder="Phone" required>
                <br>
                <button [disabled]="addAddress.invalid " type="submit" mat-raised-button color="primary" >Add Address</button>
              </form>
        </div>
    </div>

    <button  class="next" mat-raised-button color="primary" (click)="redirectToPayment()" >Proceed To Pay  </button>
</div>