/* Why Choose Us CSS */
section{
    padding: 50px;
    background: #f3f3f3;
  }
  .container{
    width: 100%;
    max-width: 1160px;
    padding: 0 40px;
    margin: 0 auto;
  }
  .title{
    text-align: center;
    font-weight: 800;
    font-size: 2.4rem;
    margin-bottom: 2rem;
  }
  .grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-content: center;
    gap: 3rem;

  }
  .grid .item{
    text-align: center;
  }
  
  
  .grid .item h3{
    margin: 1rem 0;
    font-weight: 700;
  }
  .item p{
    max-width: 80%;
    margin: 0 auto;
  }
  @media (max-width:768px){
    .grid{
        grid-template-columns: repeat(2,1fr);
    }
  }
  @media (max-width:540px){
    
    .grid{
        grid-template-columns: 1fr;
    }
    .col-2{
      text-align: center;
    }
  }