<!-- Why Choose Us -->
<section>
    <div class="container">
      <h2 class="title">Why Choose Us?</h2>
      <div class="grid">
        <div class="item">
          <span class="material-icons about-icons">photo_camera</span>
          <h3>Wide Range of Brands and Products</h3>
          <p>
            One major advantage of shopping on EShoppingZone is the wide range of
             brands that are available under one roof. Be it Nike or Adidas you can expect to find the best designs from the 
             biggest brands on EShoppingzone.
          </p>
        </div>
        <div class="item">
          <span class="material-icons about-icons">local_mall</span>
          <h3>Easy Checkout</h3>
          <p>
            EShoppingZone provides an easy checkout option. Walk through the range of products availabe and add your product to the cart, change the quantity if needed and
            click on checkout to purchace anything. It's that easy!
          </p>
        </div>
        <div class="item">
          <span class="material-icons about-icons">yard</span>
          <h3>User-friendly interface</h3>
          <p>
            The main aim of our website is to make online shopping easy to all. The user-friendly interface of EShoppingZone uses minimal
            theme and design to make shopping simple and interactive accross every device.
          </p>
        </div>
        <div class="item">
          <span class="material-icons about-icons">local_shipping</span>
          <h3>Fast Delivery</h3>
          <p>
            EShoppingZone has collaborated with trusted giant logistics and shipping companies to deliver the products as fast as possible and keep track of the 
            location of the package. 
            
          </p>
        </div>
        <div class="item">
          <span class="material-icons about-icons">lock</span>
          <h3>Your Data is Secured</h3>
          <p>
            With the introduction of UPI payment along with multiple other options payment has become really easy. Hence, we do not store
             your payment details like your card number, cvv etc. Just enter your UPI id and pay the amount using any option.
          </p>
        </div>
        <div class="item">
          <span class="material-icons about-icons">account_balance_wallet</span>
          <h3>Payment On Delivery</h3>
          <p>
            If you don't have any online payment methods, there is no need to worry. You can also pay the amount directly to the delivery person.
          </p>
        </div>
      </div>
    </div>
  </section>