.main-cotainer {
  margin-top: 100px;
  margin-left: 40px;
}

table {
  width: 90%;
  margin-left: 10px;
  margin-right: 10px;
  border-collapse: collapse;
}
.order-info {
  display: flex;
  flex-wrap: wrap;
}

th {
  text-align: left;
  padding: 5px;
  color: #fff;
  background: #00bfff;
  font-weight: normal;
}
td {
  padding: 10px 5px;
}
td img {
  height: 80px;
  width: 80px;
  margin-right: 10px;
}

h2{
  margin-left: 10px;
}
td:last-child {
  text-align: right;
}
th:last-child {
  text-align: right;
}
